[submodule "ART-ERP-FE"]
	path = ART-ERP-FE
	url = https://github.com/CodeArt-VN/ART-ERP-FE.git
[submodule "ART-ERP-BE"]
	path = ART-ERP-BE
	url = https://github.com/CodeArt-VN/ART-ERP-BE.git
[submodule "ART-DMS"]
	path = ART-DMS
	url = https://github.com/CodeArt-VN/ART-DMS.git
[submodule "Document"]
	path = Document
	url = https://github.com/CodeArt-VN/ART-ERP-FE-Documents.git
[submodule "ART-ERP-MCP"]
	path = ART-ERP-MCP
	url = https://github.com/CodeArt-VN/ART-ERP-MCP.git
[submodule "ART-ERP-Edge"]
	path = ART-ERP-Edge
	url = https://github.com/CodeArt-VN/ART-ERP-Edge.git
